.intro{
    color: aliceblue;
}

.course{
    background-image:  url(../images/m1.jpg);
    margin: auto;
    text-align: center;
    padding-top: 100px;
    background-size: cover;
    background-position: cover;
    position: relative;
    min-height: 100vh;
    width: 100%;
    height: 100vh;
}

h1{
    font-size: 35px;
    font-weight: 600;
    color: rgb(231, 146, 185);
}
p{
    color:rgb(9, 9, 9);
    font-size: 20px;
    font-weight: 300;
    line-height: 22px;
    padding: 10px;
}
.row{
    margin:5% ;
    display: flex;
    justify-content: space-between;
   
}
.course-col{
    flex-basis: 31%;
    background:#d2d0d1c3;
    border-radius: 10px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
    transition: 00.5s;

}
.course-col b{
 color: rgb(116, 13, 172);
}
h3{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
    color: #9b1b83;
}
.course-col:hover{
    box-shadow: 0 0 20px 0px rgba(79, 7, 222, 0.2);
    transform: scale(1.2);

}

@media(max-width:700px){
.row{
    flex-direction: column;
}
}