*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container{
    width: 400px;
    border-radius: 8px;
    padding: 40px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.1), 
                0 5px 12px -2px rgba(0, 0, 0, 0.1),
                0 18px 36px -6px rgba(0, 0, 0, 0.1);
}

.container .title{
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.container form input{
    display: none;
}
.container form .category{
    margin-top: 10px;
    padding-top: 20px; 
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 15px;
}

.category label{
    height: 145px;
    padding: 20px;
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    border-radius: 5px;
    position: relative;
}

label .imgname{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 10px;
}

#card:checked ~ .category .cardMethod,
#cash:checked ~ .category .cashMethod,
#paypal:checked ~ .category .paypalMethod,
#esewa:checked ~ .category .esewaMethod{
   box-shadow: 0px 0px 0px 1px rgb(144, 5, 123); 
}

#card:checked ~ .category .cardMethod .check,
#cash:checked ~ .category .cashMethod .check,
#paypal:checked ~ .category .paypalMethod .check,
#esewa:checked ~ .category .esewaMethod .check{
   display: block;
}
.imgname span{
    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top: 72%;
    transform: translateY(-72%);
}

.imgname .imgcontainer{
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 35%;
    transform: translateY(-35%);
}
img{
    width: 50px;
    height: auto;
}
.card img{
    width: 60px;
}

.cash img{
    width: 50px;
}

.paypal img{
    width: 50px;
}
.esewa img{
   width: 70px; 
}

.check{
    display: none;
}
.confirm{
    padding-top: 20px;
}
button{
    width: 100%;
    border: none;
    background:rgb(144, 5, 123);
    color: #fff;
    padding: 15px;
    border-radius: 4px;
    font-size: 16px;
    transition: all 0.35s ease;
}
button:hover{
    background: rgb(166, 52, 149);
    cursor: pointer;
}
button a{
    text-decoration: none;
    color: #fff;
}

